{% extends 'base.html' %}

{% block title %}Editar tablero{% endblock %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-body">

        <h1 class="mb-4">Editar tablero</h1>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Título:</label>
                <input type="text" name="title" value="{{ board.title }}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Descripción:</label>
                <textarea name="description" class="form-control">{{ board.description }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
        </form>

    </div>
</div>

{% endblock %}