<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar tarjeta</title>
</head>
<body>

    <h1>Editar tarjeta</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Título:</label>
        <br>
        <input type="text" name="title" value="{{ card.title }}" required>

        <br><br>

        <label>Descripción:</label>
        <br>
        <textarea name="description">{{ card.description }}</textarea>

        <br><br>

        <label>Asignar a:</label>
        <br>
        <select name="assigned_to">
            <option value="">Sin asignar</option>

            {% for user in users %}
                <option value="{{ user.id }}"
                    {% if card.assigned_to and card.assigned_to.id == user.id %}
                        selected
                    {% endif %}
                >
                    {{ user.username }}
                </option>
            {% endfor %}
        </select>

        <br><br>
        <label>Prioridad:</label>
<br>
<select name="priority">
    <option value="alta" {% if card.priority == 'alta' %}selected{% endif %}>Alta</option>
    <option value="media" {% if card.priority == 'media' %}selected{% endif %}>Media</option>
    <option value="baja" {% if card.priority == 'baja' %}selected{% endif %}>Baja</option>
</select>

<br><br>
        <button type="submit">Guardar cambios</button>
    </form>

    <br>

    <a href="{% url 'board_detail' card.task_list.board.id %}">Volver</a>

</body>
</html>